#form_v{
    display: none;

}

#form_restrita_reserva{

display: none;
}

#relatorio_restrita{

display: none;
}

#gerarRel{
 	background: #5A7FBD;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	font-size: 16px;	
    margin-top: 60px;
    margin-left: 300px;
	padding: 10px;
}

}